* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 51px 37px 166px 37px;
    background: rgba(203, 197, 193, 0.35);
}

h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #0E3C8A;
}

.img-left {
    position: absolute;
    width: 332px;
    height: 245px;
    left: 161px;
    top: 241px;
}

.img-center {
    z-index: 1;
    position: absolute;
    width: 702px;
height: 395px;
    left: 379px;
    top: 166px;
}

.img-right {
    position: absolute;
width: 332px;
height: 245px;
left: 952px;
top: 241px;
}